.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    align-items: center;
    padding: 20px 10px;
    position: fixed; 
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-right: 40px;
}

.navbar a:hover{
    color: rgb(177, 177, 177);
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
}